body{
	font-family: courier;
	background-color: black;
	color: magenta;
	text-align: center;
}

table{
	display: inline-block;
	font-size: 12px;
}


td{
	border: dashed magenta 1px;
	user-select: none;
	padding: 10px;
	width: 200px;
}

#auto{
	color: darkgrey;
}

#multi{
	color: darkgrey;
}

#gameContainer{
	width: 802px;
	height: 602px;
	border: dashed magenta 1px;
	display: flex;
	justify-content: space-around;
}

#clickArea{
	width: 160px;
	height: 560px;
	padding: 20px;
	border-right: dashed magenta 1px;
}

#infoArea{
	width: 160px;
	height: 560px;
	padding: 20px;
	border-right: dashed magenta 1px;
}

#shopArea{
	text-align: center;
	width: 360px;
	height: 560px;
	padding: 20px;
}

#clickBox{
	width: 158px;
	height: 50px;
	padding-top: 25px;
	border: dashed black 1px;
	user-select: none;
}

#clickBox:hover{
	border: dashed magenta 1px;
}